<div class="event">
  <ul class="metadata">
    <li><h1>{{meetup.name}}</h1></li>
    <li><span class="icon-date"></span> <span>{{meetup.date}}</span></li>
    <li><span class="icon-location"></span> <span>{{meetup.location}}</span></li>
  </ul>
  <div>
    <p class="meetup-avatar"><img src="assets/img/meetings/image-dpjs.png"
                                  alt="dakar promise js"
                                  width="120"
                                  height="120"></p>
  </div>
</div>
